#include <dt-bindings/zmk/mouse.h>
#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/*

   &mmv_input_listener {
   input-processors = <&zip_xy_scaler 2 1>;
   };

   &msc_input_listener {
   input-processors = <&zip_xy_scaler 2 1>;
   };


 */

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10

/ {
    behaviors {
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <30>;
    };

    zHomeMod: zHomeMod {
        compatible = "zmk,behavior-hold-tap";
        label = "ZHOMEMOD";
        bindings = <&kp>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <250>;
        quick-tap-ms = <200>;
        flavor = "tap-preferred";
        require-prior-idle-ms = <130>;
    };

    zHomeLayer: zHomeLayer {
        compatible = "zmk,behavior-hold-tap";
        label = "ZHOMELAYER";
        bindings = <&mo>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <250>;
        quick-tap-ms = <200>;
        flavor = "tap-preferred";
        require-prior-idle-ms = <130>;
    };

    yOutput: yOutput {
        compatible = "zmk,behavior-tap-dance";
        label = "YOUTPUT";
        #binding-cells = <0>;
        tapping-term-ms = <300>;
        bindings = <&out OUT_BLE>, <&out OUT_USB>;
    };

    zFastLayer: zFastLayer {
        compatible = "zmk,behavior-hold-tap";
        label = "ZFASTLAYER";
        bindings = <&mo>, <&kp>;

        #binding-cells = <2>;
        hold-while-undecided;
        tapping-term-ms = <200>;
    };

    yPower: yPower {
        compatible = "zmk,behavior-tap-dance";
        label = "YPOWER";
        #binding-cells = <0>;
        bindings = <&ext_power EP_ON>, <&ext_power EP_OFF>;

        tapping-term-ms = <300>;
    };

    yBtClear: yBtClear {
        compatible = "zmk,behavior-tap-dance";
        label = "YBTCLEAR";
        #binding-cells = <0>;
        tapping-term-ms = <300>;
        bindings = <&none>, <&none>, <&bt BT_CLR>;
    };

    zFast_Mod: zFast_Mod {
        compatible = "zmk,behavior-hold-tap";
        label = "ZFAST_MOD";
        bindings = <&kp>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <200>;
        hold-while-undecided;
    };

    yOff: yOff {
        compatible = "zmk,behavior-tap-dance";
        label = "YOFF";
        #binding-cells = <0>;
        bindings = <&kp LG(L)>, <&soft_off>;

        tapping-term-ms = <300>;
    };

    yBacklight: yBacklight {
        compatible = "zmk,behavior-tap-dance";
        label = "YBACKLIGHT";
        #binding-cells = <0>;
        bindings = <&bl BL_ON>, <&bl BL_OFF>;
    };

    yColour: yColour {
        compatible = "zmk,behavior-tap-dance";
        label = "YCOLOUR";
        #binding-cells = <0>;
        tapping-term-ms = <300>;
        bindings =
            <&rgb_ug RGB_COLOR_HSB(0,0,58)>,
            <&rgb_ug RGB_COLOR_HSB(269,87,84)>,
            <&rgb_ug RGB_COLOR_HSB(173,36,27)>;
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        qwerty {
            display-name = "qwerty";
            bindings = <
&kp TAB                  &kp Q  &kp W  &kp E                 &kp R                        &kp T                                          &kp LA(UP)                   &kp Y                &kp U      &kp I                    &kp O    &kp P     &kp BSPC
&zFast_Mod LCTRL ESCAPE  &kp A  &kp S  &kp D                 &kp F                        &kp G                            &kp LA(LEFT)  &none         &kp LA(RIGHT)  &kp H                &kp J      &kp K                    &kp L    &kp SEMI  &kp SQT
&kp LEFT_ALT             &kp Z  &kp X  &kp C                 &kp V                        &kp B              &kp C_PLAY                  &kp LA(DOWN)                 &kp N                &kp M      &kp COMMA                &kp DOT  &kp FSLH  &mo 4
                                       &zFastLayer 3 ESCAPE  &zFast_Mod LEFT_SHIFT ENTER  &zFastLayer 2 ESC                                                           &zFastLayer 1 ENTER  &kp SPACE  &zFastLayer 3 BACKSPACE
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        layer_num {
            display-name = "num";
            bindings = <
&kp TAB         &kp COMMA  &kp N1  &kp N2  &kp N3                       &kp LC(X)                         &kp LA(UP_ARROW)                 &kp ASTERISK  &kp HOME        &kp PAGE_DOWN   &kp PAGE_UP   &zHomeLayer 0 END  &kp DELETE
&kp LEFT_SHIFT  &kp N0     &kp N4  &kp N5  &kp N6                       &kp LC(C)           &kp LA(LEFT)  &none             &kp LA(RIGHT)  &kp PLUS      &kp LEFT        &kp DOWN        &kp UP        &kp RIGHT          &kp SLASH
&kp LEFT_ALT    &kp DOT    &kp N7  &kp N8  &kp N9                       &kp LC(V)  &none                  &kp LA(DOWN)                     &kp MINUS     &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT    &zFastLayer 4 LC(A)
                                   &none   &zFast_Mod LEFT_SHIFT ENTER  &none                                                              &none         &none           &none
            >;

            label = "num";
            sensor-bindings = <&inc_dec_kp UP_ARROW DOWN>;
        };

        layer_sym {
            display-name = "sym";
            bindings = <
&kp TAB                         &kp F11  &kp F1  &kp F2  &kp F3                       &kp GRAVE                             &kp LA(UP)                   &kp AMPERSAND    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LBKT   &kp RBKT   &kp BACKSLASH
&zFast_Mod LEFT_CONTROL ESCAPE  &kp F10  &kp F4  &kp F5  &kp F6                       &kp SEMICOLON           &kp LA(LEFT)  &none         &kp LA(RIGHT)  &kp EXCLAMATION  &kp ASTERISK          &kp POUND              &kp MINUS  &kp EQUAL  &kp SINGLE_QUOTE
&kp LEFT_SHIFT                  &kp F12  &kp F7  &kp F8  &kp F9                       &kp DOLLAR     &none                  &kp LA(DOWN)                 &kp AT_SIGN      &kp PERCENT           &kp COMMA              &kp DOT    &kp FSLH   &mo 4
                                                 &none   &zFast_Mod LEFT_SHIFT ENTER  &none                                                              &none            &none                 &none
            >;

            sensor-bindings = <&inc_dec_kp LEFT RIGHT>;
        };

        LAYER_QL {
            bindings = <
&none  &kp LC(A)  &kp LC(X)  &kp LC(V)    &kp LC(C)                    &none                  &none         &none  &none     &none     &none      &none      &none
&none  &kp LCTRL  &kp LSHFT  &kp LALT     &kp LGUI                     &none           &none  &none  &none  &none  &kp LGUI  &kp LALT  &kp LSHFT  &kp LCTRL  &none
&none  &kp LC(Z)  &kp LC(R)  &kp LS(TAB)  &kp TAB                      &none  &none           &none         &none  &none     &none     &none      &none      &none
                             &kp LSHFT    &zFast_Mod LEFT_SHIFT ENTER  &none                                &none  &none     &none
            >;
        };

        layer_fn {
            display-name = "fn";
            bindings = <
&bt BT_SEL 0  &none  &none  &none  &none  &bt BT_SEL 3                                      &rgb_ug RGB_SAI                   &none            &none            &none            &none            &none            &yBtClear
&bt BT_SEL 1  &to 0  &none  &none  &none  &bt BT_SEL 4                     &rgb_ug RGB_HUD  &yColour         &rgb_ug RGB_HUI  &yBacklight      &none            &bl BL_INC       &bl BL_DEC       &none            &none
&bt BT_SEL 2  &none  &none  &none  &none  &yOutput      &rgb_ug RGB_TOG                     &rgb_ug RGB_SAD                   &rgb_ug RGB_BRI  &rgb_ug RGB_EFR  &rgb_ug RGB_BRD  &rgb_ug RGB_BRI  &rgb_ug RGB_EFF  &mo 4
                            &none  &none  &none                                                                               &none            &none            &none
            >;

            sensor-bindings = <&inc_dec_kp C_BRIGHTNESS_INC C_BRIGHTNESS_DEC>;
        };
    };
};
